/* FLAGS */

.flag {
	width: 20px;
	height: 11px;
}

/* FLOAT BUTTON */

.bottom-space {
	margin-bottom: 80px;
}

.btn-floating.second {
	margin-right: -10px;
	width: 45px;
	height: 45px;
	line-height: 58px;
}

/* CARDS */

.card .fixed-height {
	height: 130px;
}

.card .image {
	width: 80px;
	margin-right: 15px;
}

/* ONE LINE COLLECTION */

.collection.one-line .avatar {
	min-height: 63px;
}

/* TAGS */

.chip .icon {
	float: left;
	font-size: 16px;
	line-height: 32px;
	padding-right: 5px;
}

.chip.tiny {
	height: 20px;
	padding: 0 10px;
	line-height: 20px;
	font-size: x-small;
}

.chip.medium {
	height: 20px;
	line-height: 1.5;
}

.chip.tiny .icon {
	line-height: 20px;
}

.chip.clear {
	color: rgba(0,0,0,0.87);
	margin: 0px;
	padding: 0px;
	background-color: transparent;
}

.chip.spacing {
	margin-right: 5px;
}

/* MESSAGES */

.middle-center {
	padding: 30px 40px 0px 40px;
}