.flag {
	width: 20px;
	height: 10px;
}

.bottom-space {
	margin-bottom: 60px;
}

.bg {
	height: 100%;
	width: 100%;
	z-index: -1000;
	position: fixed;
	top: 0px;
	left: 0px;
	opacity: 0.1;
	background-repeat: no-repeat;
	background-position: center center;
}

.card-image img {
	width: 100px;
	height: 100px;
	margin: 20px;
}

.left {
	text-align: left !important;
}