{literal}
    .table{
        width: 100%;
        border-collapse: collapse;
    }
    .table td{
           height: 1.5em;
        }
    .table tr:nth-child(2n){
        background: #e9f4f0;
    }
    @media(max-width: 480px){
       .table{
            font-size: 13px;
        }
        .table h2{
            font-size: 1em;
        } 
        
}
{/literal}